.btn-primary {
    background-color: var(--main-bg-color);
    border-color: #e2d0c3;
    outline-color: #e2d0c3;
}

.btn-primary:active, .btn-primary.active {
    background-color: var(--secondary-bg-color);
    color: #e2d0c3;
    outline-color: #e2d0c3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem #e2d0c3;
}

.container {
    font-size: 1.5rem;
    border: 1px solid;
    border-color: var(--main-bg-color);
}

.question {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.col-sm {
    border: 1px solid;
    border-color: var(--main-bg-color);
}

.buttondiv {
    margin-top: 2rem;
    margin-right: 5rem;
    float: right;
}

@media only screen and (max-width: 600px) {
    .buttondiv {
        margin-right: 0rem;
    }
}